## <font color='blue'>Data Science Para Análise Multivariada de Dados</font>
## <font color='blue'>Parte 1 - Pré-Processamento</font>
### <font color='blue'>Seleção de Modelos de Machine Learning em Análise Multivariada com Dados Anonimizados</font>

### Instalando e Carregando Pacotes

In [3]:
# Imports
import pandas as pd
import numpy as np
import pickle

## Carregando os Dados

In [5]:
# Carregando os dados
df = pd.read_csv("dados/dataset.csv")

In [6]:
# Shape
df.shape

(11500, 179)

In [7]:
# Visualizando alguns registros
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,False
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,True
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,False
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,False
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,False

## Análise Exploratória e Limpeza de Dados

In [9]:
# Categorias da variável alvo
df.LABEL_TARGET.value_counts()

LABEL_TARGET
False    9200
True     2300
Name: count, dtype: int64

In [10]:
# Converte de string para valor numérico
df["LABEL_TARGET"] = df["LABEL_TARGET"].astype(int)

In [11]:
# Visualizando alguns registros
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,0
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,1
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,0
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,0
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,0

In [12]:
print("Número de colunas:", len(df.columns))

Número de colunas: 179

In [13]:
# Resumo estatístico
df.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
count,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.00000,11500.00000,11500.000000,...,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000,11500.000000
mean,-11.581391,-10.911565,-10.187130,-9.143043,-8.009739,-7.003478,-6.502087,-6.68713,-6.55800,-6.168435,...,-10.145739,-11.630348,-12.943478,-13.668870,-13.363304,-13.045043,-12.705130,-12.426000,-12.195652,0.200000
std,165.626284,166.059609,163.524317,161.269041,160.998007,161.328725,161.467837,162.11912,162.03336,160.436352,...,164.652883,166.149790,168.554058,168.556486,167.257290,164.241019,162.895832,162.886311,164.852015,0.400017
min,-1839.000000,-1838.000000,-1835.000000,-1845.000000,-1791.000000,-1757.000000,-1832.000000,-1778.00000,-1840.00000,-1867.000000,...,-1867.000000,-1865.000000,-1642.000000,-1723.000000,-1866.000000,-1863.000000,-1781.000000,-1727.000000,-1829.000000,0.000000
25%,-54.000000,-55.000000,-54.000000,-54.000000,-54.000000,-54.000000,-54.000000,-55.00000,-55.00000,-54.000000,...,-55.000000,-56.000000,-56.000000,-56.000000,-55.000000,-56.000000,-55.000000,-55.000000,-55.000000,0.000000
50%,-8.000000,-8.000000,-7.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.00000,-7.00000,-7.000000,...,-9.000000,-10.000000,-10.000000,-10.000000,-10.000000,-9.000000,-9.000000,-9.000000,-9.000000,0.000000
75%,34.000000,35.000000,36.000000,36.000000,35.000000,36.000000,35.000000,36.00000,36.00000,35.250000,...,34.000000,34.000000,33.000000,33.000000,34.000000,34.000000,34.000000,34.000000,34.000000,0.000000
max,1726.000000,1713.000000,1697.000000,1612.000000,1518.000000,1816.000000,2047.000000,2047.00000,2047.00000,2047.000000,...,1777.000000,1472.000000,1319.000000,1436.000000,1733.000000,1958.000000,2047.000000,2047.000000,1915.000000,1.000000

In [14]:
# Verificando se há valores ausentes
df.isnull().values.any()

False

In [15]:
# Extrai a lista de colunas
lista_de_colunas = df.columns.tolist()

In [16]:
# Colunas das variáveis de entrada (input)
colunas_entrada = lista_de_colunas[0:178]

In [17]:
print(colunas_entrada)

['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53', 'X54', 'X55', 'X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66', 'X67', 'X68', 'X69', 'X70', 'X71', 'X72', 'X73', 'X74', 'X75', 'X76', 'X77', 'X78', 'X79', 'X80', 'X81', 'X82', 'X83', 'X84', 'X85', 'X86', 'X87', 'X88', 'X89', 'X90', 'X91', 'X92', 'X93', 'X94', 'X95', 'X96', 'X97', 'X98', 'X99', 'X100', 'X101', 'X102', 'X103', 'X104', 'X105', 'X106', 'X107', 'X108', 'X109', 'X110', 'X111', 'X112', 'X113', 'X114', 'X115', 'X116', 'X117', 'X118', 'X119', 'X120', 'X121', 'X122', 'X123', 'X124', 'X125', 'X126', 'X127', 'X128', 'X129', 'X130', 'X131', 'X132', 'X133', 'X134', 'X135', 'X136', 'X137', 'X138', 'X139', 'X140', 'X141', 'X142', 'X143', 'X144', 'X145', 'X146', 'X147', 'X148', 'X149', 'X150', 'X151', 'X152', 'X153', 'X154', 'X155', 'X156', 'X157', 'X158', 'X159', 'X160', 'X161', 'X162', 'X163', 'X164', 'X165', 'X166', 'X167', 'X168', 'X169', 'X170', 'X171', 'X172', 'X173', 'X174', 'X175', 'X176', 'X177', 'X178']

In [18]:
# Checando se temos colunas duplicadas nos dados de entrada
dup_cols = set([x for x in colunas_entrada if colunas_entrada.count(x) > 1])
print(dup_cols)
assert len(dup_cols) == 0, "você duplicou colunas em cols_input"

set()

In [19]:
# Checando se temos colunas duplicadas no dataset completo
dup_cols = set([x for x in lista_de_colunas if lista_de_colunas.count(x) > 1])
print(dup_cols)
assert len(dup_cols) == 0,'você duplicou colunas em lista_de_colunas'

set()

In [20]:
# Categorias da variável alvo
df.LABEL_TARGET.value_counts()

LABEL_TARGET
0    9200
1    2300
Name: count, dtype: int64

A prevalência é a porcentagem das amostras que têm a característica que você está tentando prever. Em nosso caso, significa que as pessoas que renovaram o seguro são da classe positiva (ocorrência do evento) e quem não comprou é da classe negativa (não ocorreu o evento).

Os termos positivo e negativo não têm conotação de coisa boa ou ruim. É apenas a nomenclatura usada para indicar a ocorrência ou não do evento.

A taxa é calculada por (número de amostras positivas / número de amostras). Portanto, uma taxa de prevalência de 0,2 significa que 20% de nossa amostra renovou o seguro do carro.

In [22]:
# Esta função calcula a prevalência da classe positiva (label = 1)
def calcula_prevalencia(y_actual):
    return sum(y_actual) / len(y_actual)

In [23]:
print("Prevalência da classe positiva: %.3f"% calcula_prevalencia(df["LABEL_TARGET"].values))

Prevalência da classe positiva: 0.200

> O desbalanceamento de classe é um problema que terá que ser resolvido durante o pré-processamento dos dados.

## Divisão dos Dados Mantendo a Prevalência de Classe

In [26]:
# Gerando amostras aleatórias dos dados
df_data = df.sample(n = len(df))

In [27]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
8211,13,28,13,16,26,24,34,36,25,1,...,125,133,129,100,75,71,80,83,55,0
4488,-52,-52,-45,-42,-32,-27,-21,-16,-11,-4,...,-6,5,23,25,18,1,-11,-28,-40,0
3446,84,90,82,83,77,75,66,57,48,39,...,53,52,59,65,68,71,61,57,57,0
4168,-42,-28,-27,-19,-12,-13,-17,-7,2,-8,...,73,59,56,50,51,46,41,30,10,0
3623,25,-5,-35,-75,-180,-263,-368,-480,-586,-658,...,95,-5,-65,-90,-77,-46,-9,41,123,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,-8,-5,-10,-20,-27,-29,-37,-44,-60,-63,...,-75,-60,-40,-33,-34,-37,-39,-43,-52,0
1757,30,41,33,1,-57,-111,-124,-132,-118,-102,...,22,-36,-76,-60,-21,0,-6,-20,-35,0
513,21,16,16,18,0,-9,-22,-20,-20,-18,...,11,-7,-36,-45,-46,-47,-46,-29,1,0
9380,-33,-55,-78,-81,-69,-48,-31,-13,-4,5,...,9,3,-1,-8,-9,-11,-3,1,-1,0
8995,4,-1,-4,4,6,9,3,-4,-9,-13,...,-30,-30,-29,-34,-40,-41,-41,-42,-43,0

In [28]:
# Ajustando os índices do dataset
df_data = df_data.reset_index(drop = True)

In [29]:
df_data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,13,28,13,16,26,24,34,36,25,1,...,125,133,129,100,75,71,80,83,55,0
1,-52,-52,-45,-42,-32,-27,-21,-16,-11,-4,...,-6,5,23,25,18,1,-11,-28,-40,0
2,84,90,82,83,77,75,66,57,48,39,...,53,52,59,65,68,71,61,57,57,0
3,-42,-28,-27,-19,-12,-13,-17,-7,2,-8,...,73,59,56,50,51,46,41,30,10,0
4,25,-5,-35,-75,-180,-263,-368,-480,-586,-658,...,95,-5,-65,-90,-77,-46,-9,41,123,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,-8,-5,-10,-20,-27,-29,-37,-44,-60,-63,...,-75,-60,-40,-33,-34,-37,-39,-43,-52,0
11496,30,41,33,1,-57,-111,-124,-132,-118,-102,...,22,-36,-76,-60,-21,0,-6,-20,-35,0
11497,21,16,16,18,0,-9,-22,-20,-20,-18,...,11,-7,-36,-45,-46,-47,-46,-29,1,0
11498,-33,-55,-78,-81,-69,-48,-31,-13,-4,5,...,9,3,-1,-8,-9,-11,-3,1,-1,0
11499,4,-1,-4,4,6,9,3,-4,-9,-13,...,-30,-30,-29,-34,-40,-41,-41,-42,-43,0

In [30]:
# Extrai uma amostra de 30% dos dados de forma aleatória
df_amostra_30 = df_data.sample(frac = 0.3)

In [31]:
df_amostra_30

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
1476,-77,-75,-52,-43,-36,-40,-46,-48,-26,-5,...,43,5,-15,-22,-26,-50,-69,-71,-56,0
4658,18,5,7,-7,-23,-31,-13,18,45,67,...,-87,-81,-46,-11,-6,-40,-78,-88,-65,0
321,-10,-15,-25,-33,-40,-60,-74,-65,-51,-39,...,86,74,47,-6,-55,-92,-114,-108,-83,0
3128,-18,-35,-45,-59,-62,-52,-43,-8,2,23,...,-34,-39,-26,-15,-24,-32,-50,-70,-67,0
4765,35,16,-19,-44,-63,-75,-100,-122,-128,-127,...,35,-9,-52,-85,-103,-99,-102,-116,-147,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,-59,-32,2,53,115,175,200,183,143,104,...,9,-13,-37,-58,-80,-99,-118,-133,-144,1
1464,-18,1,22,27,12,-23,-58,-69,-64,-54,...,-66,-38,-12,13,43,60,66,58,45,0
8294,-147,-182,-196,-184,-174,-143,-109,-96,-210,-490,...,-593,-849,-1028,-942,-580,3,574,925,1035,1
77,48,65,77,94,111,96,82,58,44,30,...,-7,-25,-38,-52,-66,-80,-87,-78,-47,0
7024,247,45,-149,-265,-317,-353,-360,-319,-231,-153,...,217,103,-83,-245,-317,-318,-318,-307,-265,1

In [32]:
print("Tamanho da divisão de validação / teste: %.1f" % (len(df_amostra_30) / len(df_data)))

Tamanho da divisão de validação / teste: 0.3

In [33]:
# Fazendo a divisão

# Dados de teste
df_teste = df_amostra_30.sample(frac = 0.5)

# Dados se validação
df_valid = df_amostra_30.drop(df_teste.index)

# Dados de treino
df_treino = df_data.drop(df_amostra_30.index)

In [34]:
df_teste

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
1042,31,50,45,35,18,44,31,-5,-26,-10,...,-7,-72,-105,-112,-100,-75,-53,-50,-67,0
9762,56,27,3,-7,-5,57,58,69,53,56,...,8,14,0,-12,-22,-10,12,23,37,0
6128,-18,-81,-141,-185,-200,-205,-189,-165,-136,-114,...,-2,16,24,21,-2,-26,-55,-68,-67,0
3451,-4,-12,-31,-60,-81,-84,-82,-79,-81,-88,...,16,10,25,46,68,76,80,61,39,0
1674,-61,-59,-46,-31,-29,-36,-58,-80,-104,-125,...,-64,-66,-74,-93,-110,-122,-120,-111,-118,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7313,121,116,105,95,83,64,48,33,16,-17,...,173,177,143,123,136,139,92,29,-21,1
6793,-59,-46,-44,-58,-60,-63,-69,-63,-51,-34,...,26,14,13,13,4,-3,-3,-9,-5,0
1542,-51,-64,-70,-64,-56,-40,-35,-28,-27,-14,...,46,37,41,38,35,33,34,26,29,0
6729,-20,-33,-39,-37,-28,-31,-29,-38,-42,-34,...,-62,-65,-64,-66,-63,-62,-54,-50,-37,0
6290,-32,-9,4,-8,-18,-32,-39,-21,0,7,...,55,71,82,77,62,48,33,16,3,0

In [35]:
df_valid

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
1476,-77,-75,-52,-43,-36,-40,-46,-48,-26,-5,...,43,5,-15,-22,-26,-50,-69,-71,-56,0
321,-10,-15,-25,-33,-40,-60,-74,-65,-51,-39,...,86,74,47,-6,-55,-92,-114,-108,-83,0
3128,-18,-35,-45,-59,-62,-52,-43,-8,2,23,...,-34,-39,-26,-15,-24,-32,-50,-70,-67,0
4765,35,16,-19,-44,-63,-75,-100,-122,-128,-127,...,35,-9,-52,-85,-103,-99,-102,-116,-147,0
6899,38,56,75,85,83,94,97,98,100,96,...,107,131,141,142,139,140,152,173,192,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4480,-63,-68,-66,-68,-78,-91,-105,-113,-120,-120,...,-27,-25,-21,-20,-23,-18,-14,-17,-17,0
9875,3,16,30,25,23,13,8,9,13,7,...,31,16,5,-10,-23,-11,-10,-4,5,0
4298,150,127,104,72,49,22,9,4,-3,-5,...,-27,-22,-32,-40,-35,-40,-28,-30,-12,0
8294,-147,-182,-196,-184,-174,-143,-109,-96,-210,-490,...,-593,-849,-1028,-942,-580,3,574,925,1035,1
77,48,65,77,94,111,96,82,58,44,30,...,-7,-25,-38,-52,-66,-80,-87,-78,-47,0

In [36]:
df_treino

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,LABEL_TARGET
0,13,28,13,16,26,24,34,36,25,1,...,125,133,129,100,75,71,80,83,55,0
2,84,90,82,83,77,75,66,57,48,39,...,53,52,59,65,68,71,61,57,57,0
5,-87,-70,-75,-102,-126,-136,-143,-131,-124,-134,...,-8,21,34,54,77,86,96,99,91,0
6,41,15,-28,-81,-125,-144,-139,-94,-31,23,...,101,92,81,68,44,15,-19,-85,-160,1
7,3,5,14,11,3,-23,-44,-51,-43,-26,...,2,4,11,18,23,23,28,37,43,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11491,58,56,50,41,41,46,52,58,65,70,...,25,26,21,24,15,22,31,40,45,0
11492,87,65,43,29,-2,-41,-95,-144,-194,-239,...,117,119,119,118,115,113,108,102,92,1
11493,-44,-15,-14,-16,-23,-26,-25,-41,-39,-51,...,-34,-28,-15,-13,-20,-23,-33,-23,-29,0
11495,-8,-5,-10,-20,-27,-29,-37,-44,-60,-63,...,-75,-60,-40,-33,-34,-37,-39,-43,-52,0
11498,-33,-55,-78,-81,-69,-48,-31,-13,-4,5,...,9,3,-1,-8,-9,-11,-3,1,-1,0

In [37]:
# Verifique a prevalência de cada subconjunto
print(
    "Teste(n = %d): %.3f"
    % (len(df_teste), calcula_prevalencia(df_teste.LABEL_TARGET.values))
)
print(
    "Validação(n = %d): %.3f"
    % (len(df_valid), calcula_prevalencia(df_valid.LABEL_TARGET.values))
)
print(
    "Treino(n = %d): %.3f"
    % (len(df_treino), calcula_prevalencia(df_treino.LABEL_TARGET.values))
)

Teste(n = 1725): 0.214
Validação(n = 1725): 0.198
Treino(n = 8050): 0.197

## Balanceamento de Classe

Vamos aplicar a estratégia de undersampling. Leia o material no Capítulo 8 com a definição dos conceitos.

In [39]:
df_teste.shape

(1725, 179)

In [40]:
df_valid.shape

(1725, 179)

In [41]:
df_treino.shape

(8050, 179)

In [42]:
df_treino.LABEL_TARGET.value_counts()

LABEL_TARGET
0    6461
1    1589
Name: count, dtype: int64

In [43]:
# Cria um índice com True/False
indice = df_treino.LABEL_TARGET == 1

In [44]:
# Define valores positivos e negativos do índice
df_train_pos = df_treino.loc[indice]
df_train_neg = df_treino.loc[~indice]

In [45]:
# Valor mínimo de registros entre classe positiva e negativa
valor_minimo = np.min([len(df_train_pos), len(df_train_neg)])

In [46]:
valor_minimo

1589

In [47]:
# Obtém valores aleatórios para o dataset de treino
df_treino_final = pd.concat([df_train_pos.sample(n = valor_minimo, random_state = 69), 
                             df_train_neg.sample(n = valor_minimo, random_state = 69)], 
                            axis = 0, 
                            ignore_index = True)

In [48]:
# Amostragem aleatória do dataset de treino
df_treino_final = df_treino_final.sample(n = len(df_treino_final), random_state = 69).reset_index(drop = True)

In [49]:
df_treino_final.shape

(3178, 179)

In [50]:
df_treino_final.LABEL_TARGET.value_counts()

LABEL_TARGET
0    1589
1    1589
Name: count, dtype: int64

In [51]:
# Balanceamento do conjunto de dados
print('Balanceamento em Treino(n = %d): %.3f'%(len(df_treino_final), 
                                               calcula_prevalencia(df_treino_final.LABEL_TARGET.values)))

Balanceamento em Treino(n = 3178): 0.500

## Salvando o Resultado do Pré-Processamento

In [53]:
# Salvamos todos os datasets em disco no formato csv
df_treino.to_csv('dados/dados_treino.csv', index = False)
df_treino_final.to_csv('dados/dados_treino_final.csv', index = False)
df_valid.to_csv('dados/dados_valid.csv', index = False)
df_teste.to_csv('dados/dados_teste.csv', index = False)

In [54]:
# Salvamos os nomes dos dados de entrada (colunas preditoras) para facilitar a utilização mais tarde
pickle.dump(colunas_entrada, open('dados/colunas_entrada.sav', 'wb'))

# Continuaremos o Projeto na parte II!